@import "tailwindcss";

:root {
  --background: oklch(10% 0.02 0);
  --foreground: oklch(90% 0.02 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-gradient-start: oklch(0.1854 0.0052 248.11);
  --color-gradient-middle: oklch(0.2033 0.0146 172.29);
  --color-gradient-end: oklch(0.2482 0.0402 158.79);
  --color-card: #144023;
}

body {
  color: oklch(0.9088 0.0035 247.86);
}
