@import "tailwindcss";

:root {
  --background: oklch(0.1845 0.0347 265.25);
  --foreground: oklch(90% 0.02 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: oklch(0.7017 0.077 188.81);
}

body {
  color: oklch(0.842 0.0531 280.46);
}
